body{background-color:LightGrey ;}

#dev{
  font-size: 15px;
}


#top{ text-align: center }

h3{ text-align: center }

.img1{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#dev{ border-style:groove; border-width:5px; border-color:red;   }

#dev{ text-align: center;}


.button{
  text-align: center;
}